<!DOCTYPE html>
<html>
<head>
    <title>Restaurant Management System</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🍽️ Restaurant Order Management</h1>

        <p>Welcome to Restaurant Management System</p>

        <a href="/menu">
            <button>View Menu</button>
            <a href="/orders">
    <button>Place Order</button>
    <a href="/history">
    <button>Order History</button>
</a>

        </a>

    </div>

</body>
</html>